paymaster_pub=paymaster_PUBLIC_KEY
paymaster_pk=paymaster_PRIVATE_KEY
entryPoint_add=ENTRYPOINT_ADDRESS
AMOY_PM="AMOY_PAYMASTER_ADDRESS"
SEPOLIA_PM="SEPOLIA_PAYMASTER_ADDRESS"
SEPOLIA_PROVIDER="ETHEREUM_NODE_ENDPOINT"
AMOY_PROVIDER="POLYGON_NODE_ENDPOINT"
isGanache="False"
DJANGO_SECRET_KEY=''